body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

button:hover {
    cursor: pointer;
}


main {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 100px;      
    gap: 80px;               
    min-height: 80vh;
    background-color: #f0f0f098;
}


header {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 40px; 
}

.img {
    width: 300px;
    margin-left: -20px; 
}

header p {
    font-size: 28px;
    color: #1c1e21;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

.loginInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 396px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

.loginInfo input {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.loginInfo button {
    color: #FFFFFF;
    background-color: #1877f2;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
}

.loginCreate.btn {
    background-color: #42b72a;
    font-size: 17px;
    align-self: center;
    padding: 12px 16px;
    width: fit-content;
}


.loginForget {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #dadde1;
}

.loginForget a {
    color: #1877f2;
    font-size: 14px;
}


footer {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    color: #5a5757;
    font-size: 12px;
    background-color: white;
}
footer p,footer p a {
    color: #a5a5a5;
    font-size: 13px;
}
footer p:first-child {
    border-bottom: 1px solid #a5a5a5;
    padding-bottom: 5px;

}    
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}